@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* Universal styling */
*{
    margin: 0%;
    padding: 0%;
}

:root {
  --bg: #FAF3E0;        /* Cream background */
  --text: #1B1B1B;      /* Main text */

  --primary: #9A031E;   /* Deep red accent (buttons / highlights) */
  --secondary: #4A4E69; /* Muted dark blue-gray */

  --button: #22223B;    /* Dark button background */
  --border: #E8DCCA;    /* Soft border lines */

  --muted-text: #4F4F4F; /* Optional: subtitles / labels */
}

body{
    margin-left: 4%;
    margin-right: 4%;
    background-color: var(--bg);
    font-family: 'Source Serif 4' , serif;
    color: var(--text);
}
h1,p,span{
    user-select: none;
}
/* Main Head styling */
header{
    width: 100%;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
header h1{
    font-family: 'playfair display', serif;
    font-size: 3rem;
    letter-spacing: 3px;
    word-spacing: 8px;
}
header p{
    margin-top: 1vh;
    text-align: justify;
}

/* filter buttons styling */
.filters-container{
    height: auto;
    margin-bottom: 3vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.filters-container span{
    font-size: 1.2rem;
}
.filters-container span:hover{
    color: var(--primary);
    text-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}
.filters-container button, .lightBox button{
    padding: 0.4rem 0.7rem;   
    font-size: 0.8rem;
    font-family: inherit;
    min-width: 6rem;          
    background-color: var(--button);
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}
.filters-container button:hover, .lightBox button{
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    color: var(--primary);
    background-color: var(--bg);
    border: 1px solid var(--muted-text);
}
/* Images section styling */
.gallery-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.gallery-item img{
  width: 100%; 
  height: auto;
  background-size: contain ;
  border-radius: 10px;
  border: 3px solid transparent;
}
.gallery-item img:hover{
  border: 3px solid white;
  box-shadow: 0 8px 10px rgba(0,0,0,0.2);
}
.gallery-item {
  text-align: center;
}

.gallery-item .name {
  font-size: 1rem;
  color: #333;
  opacity: 0;
  transition: 0.3s ease;
}

.gallery-item:hover .name {
  opacity: 1;
}

 /* .gallery-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: 8px;      
  gap: 20px;
}

.gallery-item{
  display: grid;
}

.gallery-item img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  grid-row-end: span var(--rows);
} */
/* lightbox section */
.lightBox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1000;
}
.hidden{
    display: none;
}
.lightbox-image img {
  max-width: 85vw;
  max-height: 85vh;
  border-radius: 8px;
}

/* mobile media queries*/
@media (max-width: 450px) {
  header h1{
    font-size: 25px;
  }
  header p{
    font-size:15px;
  }
  .filters-container span{
    font-size: 14px;
  }
  .filters-container button{
    padding: 0.4rem 0.5rem;   
    font-size: 0.5rem;
    font-family: inherit;
    min-width: 3rem;   
  }
  .gallery-container{
  gap: 5px;
  }
  .gallery-item img{
  width: 100%; 
  height: auto;
  background-size: contain ;
  border-radius: 10px;
  border: 1px solid transparent;
  }
  .gallery-item img:hover{
  border: 1px solid white;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  .gallery-item .name {
  /* margin-top: 1px; */
  font-size: 0.6rem;
  color: #333;
  opacity: 0;
  transition: 0.3s ease;
  }
}

/* tablets media queries*/
@media (min-width: 577px) and (max-width: 850px) {

}
